  torch                                                            
     torchvision                                                      
    torchvision import transforms                                      

    from facenet_pytorch import MTCNN, InceptionResnetV1                    